{{> menu}}

<section class="ui container">

      <section class="ui two column grid segment">
        <div class="ui column">
          <h2>Welcome to the Playlist App!</h2>

          <p>
            This app will allow users to create and maintain a collection of
            playlists.
          </p>
          <div class="buttons">
            <button class="ui blue button" onclick="showHide()">
              Read more <i class="arrow circle right icon"></i>
            </button>
            <button class="ui green button" onclick="likeIt()">
              Like it? <i class="thumbs up icon"></i>
            </button>
            <button class="ui red button" onclick="welcomeUser()">
              Who are you? <i class="user icon"></i>
            </button>
          </div>
          <div id="readmore" class="ui message">
            <p>
              Over the coming months, we will add CRUD (Create, Read, Update,
              and Delete) functionality to this app. Users will also be able to
              create an account, log in, and upload images to the app.
            </p>
          </div>
          <div
            id="welcomeuser"
            class="ui message"
            onclick="hideWelcome()"
          ></div>
        </div>
        <div class="ui column">
          <div class="ui grid">
            <div class="ui eight wide column">
              <img
                class="ui small circular image"
                src="https://cdn.glitch.com/b8da942e-4ba6-4f5d-9d87-8f488f35a50e%2FUnhappy%20Refrain.jpg?v=1611677843687"
                alt="Unhappy Refrain - Wowaka"
              />
            </div>
            <div class="ui eight wide column">
              <img
                class="ui small circular image"
                src="https://cdn.glitch.com/b8da942e-4ba6-4f5d-9d87-8f488f35a50e%2FMikaCartoonMotion.jpg?v=1611677911952"
                alt="Life in Cartoon Motion - Mika"
              />
            </div>
            <div class="ui eight wide column">
              <img
                class="ui small circular image"
                src="https://cdn.glitch.com/b8da942e-4ba6-4f5d-9d87-8f488f35a50e%2FZeldaSymphony.jpg?v=1611678294682"
                alt="Zelda 25th Anniversary Symphony"
              />
            </div>
            <div class="ui eight wide column">
              <img
                class="ui small circular image"
                src="https://cdn.glitch.com/b8da942e-4ba6-4f5d-9d87-8f488f35a50e%2FP5OST.png?v=1611678365818"
                alt="Persona 5 ost"
              />
            </div>
          </div>
        </div>
      </section>
    </section>